on early-init
    start ueventd

on init

    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export ANDROID_BOOTLOGO 1
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /preload
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /efs
    mkdir /tmp
    mkdir /dbdata

    mkdir /mnt 0775 root root

    #mount /tmp /tmp tmpfs   

on early-fs

    # rfs drivers
    #insmod /lib/modules/rfs_glue.ko
    #insmod /lib/modules/rfs_fat.ko

    # parameter block
    # remove mkdir /mnt/.lfs 0755 root root
    # remove insmod /lib/modules/j4fs.ko
    #mount j4fs /dev/block/mmcblk0p4 /mnt/.lfs
    insmod /lib/modules/param.ko


on fs
    mount tmpfs tmpfs /tmp mode=0755
    
    mount ext4 /dev/block/mmcblk0p2 /system wait
    mount ext4 /dev/block/mmcblk0p3 /cache nosuid nodev noatime wait

    mkdir /efs
    mount ext4 /dev/block/mmcblk0p1 /efs nosuid nodev noatime wait 
    chown radio system /efs
    chmod 0771 /efs

    # create fota delta dir
    mkdir /cache/fota 0775 root root
    chmod 0775 /cache/fota


on boot

	ifup lo
	hostname localhost
	domainname localdomain
	class_start default

#service debuggerd /system/bin/debuggerd

	service ueventd /sbin/ueventd
    	critical

service ua_loader /sbin/ua_loader
    oneshot